<!DOCTYPE HTML>
<html>

<head>
	<title>Current Missions</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="/">
					<h1>Hitlist</h1>
				</a></h1>
			<!--link back to homepage/welcome page-->
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="/welcome"> Home</a></li>
					<li><a href="/create"> Create mission</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<a href="#" class="close">Close</a>
			</div>
		</nav>

		<!-- Wrapper -->
		<section id="wrapper">

			<!-- Four -->
			<section id="four" class="wrapper alt style1">
				<div class="inner">
					<h2 class="major">Missions</h2>
					<p>for <%= new Date()%>
					</p>

					<section class="features">
						<% missions.forEach( item=> { %>
							<% const taskIncomplete=item.tasks.filter(x=> x.completed==false).length %>
								<article data-id='<%= item._id %>'>
									<h3 class="major">Mission: <%= item.mission%> <i
												class='delMission fas fa-trash-alt'></i></h3>
									<ul>
										<% item.tasks.forEach(tasks=>{%>

											<li class='task' data-id='<%= item._id %>'>
												<span class='<%= tasks.completed === true ? ' completed' : 'not' %>'><%=
														tasks.task %></span>
												<i class='deltask far fa-trash-alt'></i>
												<i class="far fa-edit"></i>
											</li>
											<% })%>
									</ul>
									<a class="special">Tasks left in the mission <%= taskIncomplete%></a>
								</article>
								<% }) %>
					</section>
				</div>
			</section>

			<!-- Footer -->
			<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<ul class="copyright">
						<li>All rights reserved.</a></li>
						<li>&copy; <a href="https://daviradprofile.netlify.app">DavidIradukunda</a></li>
					</ul>
				</div>
			</section>

	</div>

	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.scrollex.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/menu.js"></script>
	<script src="js/main.js"></script>

</body>

</html>