<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily missions</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <h1>Missions for <%= new Date() %></h1>

    <% missions.forEach( item => { %>
        <% const taskIncomplete = item.tasks.filter(x=> x.completed==false).length %>
        
        <section data-id='<%= item._id %>'>    
        <h3>Mission: <%= item.mission %></h3>
        <span class='delMission'>Delete</span>
        </section>
    <div>
    <% item.tasks.forEach(tasks=>{%>
            <li class='task' data-id='<%= item._id %>'>
                <span class='<%= tasks.completed === true ? 'completed' : 'not'%>'><%= tasks.task %></span>
                <span class='deltask'> Delete </span>
            </li>
    <% })%>
    <h6>Tasks left in the mission <%= taskIncomplete%></h6>
    </div>
    <% }) %>

<a href="/welcome"> Homepage</a> <!-- go to welcome page -->
<a href="/create"> Create mission</a> <!-- go to task creating page -->
<a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>

</html>