<!DOCTYPE HTML>
<html>

<head>
  <title>Current Missions</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <noscript>
    <link rel="stylesheet" href="/css/noscript.css" />
  </noscript>
</head>

<body class="is-preload">
  <%# Page Wrapper  %>
  <div id="page-wrapper">

    <%# Header  %>
    <header id="header" class="alt">
      <h1><a href="/">
          <h1>Hitlist</h1>
        </a></h1>
      <%# link back to homepage/welcome page  %>
      <nav>
        <a href="#menu">Menu</a>
      </nav>
    </header>

    <%# Menu  %>
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/welcome"> Home</a></li>
          <li><a href="/create"> Create mission</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <a href="#" class="close">Close</a>
      </div>
    </nav>

    <%# Wrapper %>
    <section id="wrapper">

      <%# Missions Section %>
      <section id="four" class="wrapper alt style1">
        <div class="inner">

          <%# Calculating Today value %>
          <% 
          let today = new Date()
          let year = today.getFullYear()
          let month = today.getMonth() + 1
          let monthName = today.toLocaleString('default', { month: 'long' })
          let day = today.getDate()
          const dateFormatted = `${day} ${monthName} ${year}` 
          %>

          <h2 class="major">Missions</h2>
          <p><%= dateFormatted%></p>

          <%# Individual Missions %>
          <section class="features">
            <% missions 
            //filtered out days that weren't equal to today
            .filter(item=> item.date==`${year}-${('0'+month).slice(-2)}-${('0'+day).slice(-2)}`)
            //then sorted them according to their importance
            .sort((a,b)=> a.importance-b.importance)
            //then looped their all the remaining items 
             .forEach( item=> { 
            %>
            <article data-id='<%= item._id %>'>
              <h3 class="major">Mission:<span class='<%= item.importance == 1? "high" : item.importance == 2? 'medium' : 'low'  %>'> <%= item.mission%></span> <i class="editMission far fa-edit"></i> <i class='delMission fas fa-trash-alt'></i></h3>
              <ul>
                <% item.tasks.forEach(tasks=>{%>
                <li class='task' data-id='<%= item._id %>'>
                  <span class='<%= tasks.completed === true ? ' completed' : 'not' %>'><%= tasks.task %></span>
                  <i class="editTask far fa-edit"></i>
                  <i class='deltask far fa-trash-alt'></i>
                </li>
                <% })%>
                <span class="addTask fas fa-plus"> add task</span>
              </ul>
              <a class="special">Tasks left in the mission <%= item.tasks.filter(x=> x.completed==false).length%></a>
            </article>
            <% }) %>
          </section>
        </div>

        <%# Mission edit pop-up %>
        <div class="pop-up-container missionContainer">
          <section class="pop-up">
            <div class="close-container">
              <button class="close" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="missionEdit" action="/mission/editMission?_method=PUT" method='POST'>
              <div class="fields">
                <div class="field">
                  <label for="mission">Mission name</label>
                  <input type="text" placeholder="Enter new mission name" name='mission' required />
                </div>
                <div class="field">
                  <label for="date">Mission date</label>
                  <input type="date" name='date' required>>
                </div>
                <div class="field">
                  <label for="importance">Importance level</label>
                  <select name="importance" id="cars">
                    <option value="1">High</option>
                    <option value="2">Medium</option>
                    <option value="3">Low</option>
                  </select>
                </div>
                <div class="field">
                  <input id='missionId' form="missionEdit" type="hidden" name='id' value='' />
                </div>
            </form>
            <div class="field">
              <button form="missionEdit" type="submit">Submit</button>
            </div>
          </section>
        </div>

        <%# task edit pop-up %>
        <div class="pop-up-container taskContainer">
          <section class="pop-up">
            <div class="close-container">
              <button class="close" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="taskEdit" action="/mission/editTask?_method=PUT" method='POST'>
              <div class="fields">
                <div class="field">
                  <label for="task">Update Task</label>
                  <input type="text" name='task' required />
                </div>
                <div class="field">
                  <input id='taskId' form="taskEdit" type="hidden" name='id' value='' />
                  <input id='taskvalue' form="taskEdit" type="hidden" name='taskValue' value='' />
                </div>
            </form>
            <div class="field">
              <button form="taskEdit" type="submit">Submit</button>
            </div>
          </section>
        </div>

        <%# add task pop-up %>
        <div class="pop-up-container addContainer">
          <section class="pop-up">
            <div class="close-container">
              <button class="close" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="addTask" action="/mission/addTask" method='POST'>
              <div class="field">
                <label for="task">Add Task</label>
                <input type="text" name='task' required />
              </div>
              <div class="field">
                <input id='addId' form="addTask" type="hidden" name='id' value='' />
              </div>
            </form>
            <div class="field">
              <button form="addTask" type="submit">Submit</button>
            </div>
          </section>
        </div>

      </section>

      <%#  Footer %>
      <section id="footer">
        <div class="inner">
          <ul class="copyright">
            <li>All rights reserved.</a></li>
            <li>&copy; <a href="https://daviradprofile.netlify.app">DavidIradukunda</a></li>
          </ul>
        </div>
      </section>

  </div>

  <%#  Scripts %>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/menu.js"></script>
  <script src="js/popupbox.js"></script>
  <script src="js/main.js"></script>

</body>

</html>